<!DOCTYPE html>
html(ng-app="pics")
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="/gallery.css")
        script(src="/gallery.js")
        title= title
    body
        div.container-fluid(ng-controller="ctrl as c")
            div.row
                div.col-lg-12
                    h1.page-header= title
                        button#button-snapshot.btn.btn-default.pull-right
                            span Snapshot
                        div.btn-group.pull-right(style="margin-right:10px")
                            a.btn.btn-default(href="/cams/livingroom") Living Room
                            a.btn.btn-default(href="/cams/kitchen") Kitchen
                            a.btn.btn-default(href="/cams/bedroom") Bedroom
                div
                    each image in images
                        div.col-lg-2.col-md-3.col-sm-4.cos-xs-12(class=image.type)
                            a.thumbnail.card(href=image.url)
                                div.overlay
                                img.img-responsive(src=image.url)
                                span.date
                                    = image.date
                                span.time
                                    = image.time